*.log
dist/
node_modules/
.env
.env.local
.env.prod
.next/
# *.lock

*.log
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.vercel

# Local Netlify folder
.netlify
netlify

# out
# out_functions   
