name: Deploy Server
on: 
  push:
    branches: [ prod ]

jobs:
  Deploy-Server:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: 14.x

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - run: ls ${{ github.workspace }}
      - run: yarn install
      - run: yarn build:server
      - run: docker build -t alisalim17/abb:latest .  
      - run: docker push alisalim17/abb:latest
  
      - name: SSH Remote Commands
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker pull alisalim17/abb:latest 
            docker tag alisalim17/abb:latest dokku/api:latest 
            dokku tags:deploy api latest
 